:root {
    --boxColor: rgb(101, 96, 96);
    --pageColor: rgb(185, 178, 178);
}

ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: var(--boxColor);
    list-style: none;
    width: calc(100% - 110px);
    height: 30px;
    margin: 0 0px 0 0;

}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 30px;
    background-color: var(--boxColor);
    z-index: 1;
}

.page {
    width: 90%;
    background-color: var(--pageColor);
    padding: 10px;
    margin: 10px auto 0 auto;

}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--boxColor);
    width: 60px;
    height: 30px;
}

.main-area {
    display: flex;
    justify-content: space-between;

}

.content {
    background-color: var(--boxColor);
    margin-top: 10px;
    width: calc(65% - 10px);
    height: 250px;
}

.sidebar {
    background-color: var(--boxColor);
    margin-top: 10px;
    width: 35%;
    height: 250px;
}

.footer {
    background-color: var(--boxColor);
    width: calc(100% - 10px);
    margin-top: 10px;
    display: flex;
    height: 30px;
    padding: 0 5px 0 5px;
    justify-content: space-between;
}

.copyright, .design {
    display: flex;
    align-items: center;
}





