p {
    position: relative;
    counter-increment: counter1;
    width: 400px;
    height: auto;
    padding: 10px 0;
    background-color: gray;
    margin-left: 30px;
    margin-top: 10px;
    border-right: 4px solid red; 
}

p::before {
    content: counter(counter1);
    position: absolute;
    color: white;
    text-align: center;
    top: 0;
    left: -30px;
    width: 30px; 
    height: auto;
    padding: 10px 0;
    background-color: red;

}