div {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: gray;
	font-size: 20px;
	width: 400px;
	height: auto;
	padding: 20px 0;
}

div::before {
	content: "1";
	font-size: 40px;
	color: white;
	position: absolute;
	display: inline-block;
	left: -15px;
	bottom: 9px;
	height: auto;
	width: 30px;
	background-color: red;
}

div::first-letter {
	color: gray;
}