.grid {
	background-color: #ddd;
	padding: 20px;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.one, .two, .three, .four, .five, .six, .seven, .eight {
	background-color: blue;
	display: flex; 
	justify-content: center;
	align-items: center;
	color: white;
	size: 20px;
}

.one {
	order: 1;
	grid-column: 1 / 4;
}

.two {
	grid-column: 1 / 3;
}

.five {
	grid-column: 2 / 4;
	grid-row: 3 / 6;
}

.eight {
	order: -1;
	grid-column: 1 / 4;
}